.progress-bar {
    position: relative;
}

progress {
    margin-top: 2rem;
    -moz-appearence: progressbar;
    &[value] {
        -webkit-appearance: none;
        appearance: none;
        -moz-appearance: none;
        width: 100%;
        height: 20px;
        color: $btn-color;
        /* ^ lol IE support */
        background-color: #ECF0F1;
        border-radius: 5px;
        box-shadow: none;
        transition : &::-webkit-progress-bar {
            background-color: #ECF0F1;
            border-radius: 5px;
            box-shadow: none;
        }
        &::-webkit-progress-value {
            background-color: $btn-color;
            border-radius: 5px 0 0 5px;
        }
        &::-moz-progress-bar {
            background-color: $btn-color;
            border-radius: 5px 0 0 5px;
        }
        &::-moz-progress-value {
            background-color: $btn-color;
            border-radius: 5px 0 0 5px;
        }
    }
}

.slideRight {
    animation-name: slideRight;
    -webkit-animation-name: slideRight;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease-in-out;
    visibility: visible !important;
}

@keyframes slideRight {
    0% {
        transform: translateX(-150%);
    }
    50% {
        transform: translateX(8%);
    }
    65% {
        transform: translateX(-4%);
    }
    80% {
        transform: translateX(4%);
    }
    95% {
        transform: translateX(-2%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slideRight {
    0% {
        -webkit-transform: translateX(-150%);
    }
    50% {
        -webkit-transform: translateX(8%);
    }
    65% {
        -webkit-transform: translateX(-4%);
    }
    80% {
        -webkit-transform: translateX(4%);
    }
    95% {
        -webkit-transform: translateX(-2%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}

#percent-progress {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    z-index: 999;
}
